@font-face {
  font-family: 'Moon';
  font-style: normal;
  font-weight: normal;
  src: local('Moon 2.0 Regular'), url('../fonts/Moon2.0-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Moon';
  font-style: normal;
  font-weight: 700;
  src: local('Moon 2.0 Bold'), url('../fonts/Moon2.0-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Moon';
  font-style: normal;
  font-weight: 300;
  src: local('Moon 2.0 Light'), url('../fonts/Moon2.0-Light.woff') format('woff');
}