// Typography
$font-heading: "Moon", sans-serif;
$font-body: "Raleway", sans-serif;

// Colors
$color-primary: #3d21cc;
$color-text-heading: #32324a;
$color-text-body: #5b5474;

// Misc
$transition-time: 100ms;